<!-- <p>{{this.alphabetsSource.isLoading$ | ngrxPush | json}}</p> -->

<select class="form-control"
        [isEnabled]="this.canSelectAlphabetVariant$ | ngrxPush | throwIfNil"
        [ngModel]="this.selectedAlphabetVariant$ | ngrxPush"
        (ngModelChange)="this.selectedAlphabetVariant = $event">

    <option *ngIf="(this.areAlphabetVariantsAvailable$ | ngrxPush | throwIfNil | negate); else alphabetVariants;"
            [ngValue]="undefined"
            disabled
            hidden>
        <span>No alphabet variant available</span>
    </option>

    <ng-template #alphabetVariants>
        <option [ngValue]="undefined"
                disabled
                hidden>
            <span>No alphabet variant selected</span>
        </option>
        <option [ngValue]="av"
                *ngFor="let av of (this.alphabetVariants$ | ngrxPush)">
            <span>{{av.languageNativeName}}</span>
            <span>&nbsp;</span>
            <span>({{av.alphabetFamilyInvariantCultureName}})</span>
        </option>
    </ng-template>

</select>

<!-- <p>{{hasAvailableAlphabets$ | ngrxPush}}</p>
<p>{{availableAlphabets$ | ngrxPush | json}}</p> -->


<!-- version with alphabets calculated internally -->

<!-- <p>{{this.alphabetsSource.isLoading$ | ngrxPush | json}}</p>
<select class="form-control"
        [isDisabled]="this.canSelectAlphabet$ | ngrxPush"
        [ngModel]="this.selectedAlphabet$ | ngrxPush"
        (ngModelChange)="this.selectAlphabet($event)">

    <option [ngValue]="undefined"
            disabled
            hidden>

        <span *ngIf="(this.alphabetsSource.isLoading$ | ngrxPush); else isLoaded">Languages loading &hellip;</span>
        <ng-template #isLoaded>
            <span *ngIf="this.alphabetsSource.hasError$ | ngrxPush; else isSuccessful">Loading failed</span>
            <ng-template #isSuccessful>
                <ng-template [ngIf]="this.alphabetsSource.hasValue$ | ngrxPush | negate"
                             [ngIfElse]="hasValue">
                    <span>Languages not loaded</span>
                </ng-template>
                <ng-template #hasValue>
                    <span *ngIf="this.alphabetsSource.value$ | ngrxPush | empty">No languages available &hellip;</span>
                    <span *ngIf="this.alphabetsSource.value$ | ngrxPush | empty | negate">Select a language &hellip;</span>
                </ng-template>
            </ng-template>
        </ng-template>

    </option>

    <option [ngValue]="alphabet"
            *ngFor="let alphabet of (this.alphabetsSource.value$ | ngrxPush)">
        <span>{{alphabet.language.nativeName}}</span>
    </option>

</select> -->