<!-- <p>{{alphabetsSource.isLoading$ | ngrxPush | json}}</p> -->

<select class="form-control"
        [isEnabled]="canSelectAlphabetVariant$ | ngrxPush | throwIfNil"
        [ngModel]="selectedAlphabetVariant$ | ngrxPush"
        (ngModelChange)="selectedAlphabetVariant = $event">

    <ng-template #lloading>
        <option [ngValue]="undefined"
                disabled
                hidden>
            <span>Loading ...</span>
        </option>
    </ng-template>

    <ng-template #lloaded>
        <option *ngIf="(areAlphabetVariantsAvailable$ | ngrxPush | throwIfNil | negate); else alphabetVariants;"
                [ngValue]="undefined"
                disabled
                hidden>
            <span>No alphabet variant available</span>
        </option>

        <ng-template #alphabetVariants>
            <option [ngValue]="undefined"
                    disabled
                    hidden>
                <span>No alphabet variant selected</span>
            </option>
            <option [ngValue]="av"
                    *ngFor="let av of (alphabetVariants$ | ngrxPush)">
                <span>{{av.languageNativeName}}</span>
                <span>&nbsp;</span>
                <span>({{av.alphabetFamilyInvariantCultureName}})</span>
            </option>
        </ng-template>
    </ng-template>

    <ng-container *ngIf="(isLoading$ | ngrxPush); then lloading; else lloaded;"></ng-container>

</select>

<!-- <p>{{hasAvailableAlphabets$ | ngrxPush}}</p>
<p>{{availableAlphabets$ | ngrxPush | json}}</p> -->


<!-- version with alphabets calculated internally -->

<!-- <p>{{alphabetsSource.isLoading$ | ngrxPush | json}}</p>
<select class="form-control"
        [isDisabled]="canSelectAlphabet$ | ngrxPush"
        [ngModel]="selectedAlphabet$ | ngrxPush"
        (ngModelChange)="selectAlphabet($event)">

    <option [ngValue]="undefined"
            disabled
            hidden>

        <span *ngIf="(alphabetsSource.isLoading$ | ngrxPush); else isLoaded">Languages loading &hellip;</span>
        <ng-template #isLoaded>
            <span *ngIf="alphabetsSource.hasError$ | ngrxPush; else isSuccessful">Loading failed</span>
            <ng-template #isSuccessful>
                <ng-template [ngIf]="alphabetsSource.hasValue$ | ngrxPush | negate"
                             [ngIfElse]="hasValue">
                    <span>Languages not loaded</span>
                </ng-template>
                <ng-template #hasValue>
                    <span *ngIf="alphabetsSource.value$ | ngrxPush | isEmpty">No languages available &hellip;</span>
                    <span *ngIf="alphabetsSource.value$ | ngrxPush | isEmpty | negate">Select a language &hellip;</span>
                </ng-template>
            </ng-template>
        </ng-template>

    </option>

    <option [ngValue]="alphabet"
            *ngFor="let alphabet of (alphabetsSource.value$ | ngrxPush)">
        <span>{{alphabet.language.nativeName}}</span>
    </option>

</select> -->