// @import "../node_modules/bootstrap/scss/variables";

$twhive-purple: #7e3e97;
$twhive-orange: #f7931d;
$twhive-green: #3fc06a;
$twhive-gray: #999;

$twhive-colors: () !default;
$twhive-colors: map-merge(
    (
        "purple": $twhive-purple,
        "orange": $twhive-orange,
        "green": $twhive-green,
        "gray": $twhive-gray,
    ),
    $twhive-colors);
