<div class="container-fluid pt-3 bg-dark text-light">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md">

                <p class="font-weight-bold">CONTACTS</p>

                <p>
                    <a href="mailto:info@twhive.com" target="_blank" class="text-white">
                        <i class="far fa-envelope fa-fw mr-2"></i>
                        <u>info@twhive.com</u>
                    </a>

                    <br>

                    <a href="callto:+393938535428" class="text-white">
                        <i class="fas fa-phone fa-fw mr-2"></i>
                        <u>+39 393 853 5428</u>
                    </a>

                    <br>

                    <span class="text-white">
                        <i class="fab fa-whatsapp fa-fw mr-2"></i>
                        <span>+39 393 853 5428</span>
                    </span>
                </p>

                <p>
                    <span>Please know that we are located in Italy, our business hours are:</span>
                    <br>
                    <span>Mon - Sun, 10:00 - 19:00 CEST</span>
                </p>

            </div>

            <div class="col-12 col-md">

                <p class="font-weight-bold">FOLLOW US</p>

                <p>
                    <a href="https://www.facebook.com/twhive" class="text-white h2" target="_blank">
                        <i class="fab fa-facebook-square fa-fw"></i>
                    </a>
                    <a href="https://www.instagram.com/twhive_officialpage/" class="text-white h2 ml-2" target="_blank">
                        <i class="fab fa-instagram fa-fw"></i>
                    </a>
                </p>

            </div>

            <div class="col">

                <p class="font-weight-bold">LEGAL</p>

                <p>
                    <a href="https://www.iubenda.com/privacy-policy/65589381" target="_blank" class="text-white">
                        <u>Privacy policy</u>
                    </a>

                    <br>

                    <a href="https://www.iubenda.com/terms-and-conditions/65589381" target="_blank" class="text-white">
                        <u>Terms and conditions</u>
                    </a>

                    <br>

                    <a href="https://www.iubenda.com/privacy-policy/65589381/cookie-policy" target="_blank" class="text-white">
                        <u>Cookie policy</u>
                    </a>
                </p>
            </div>

        </div>
    </div>
</div>