<nav class="navbar bg-body-secondary navbar-expand-lg p-1">

    <a class="navbar-brand d-flex gap-2 align-items-center"
       routerLink="/">
        <fa-icon [icon]="['fas', 'spell-check']"
                 size="2x"
                 class="align-middle"
                 [fixedWidth]="true">
        </fa-icon>
        <span class="align-middle"
              [title]="hostAddress">{{logoLabel}}</span>
        <span *ngIf="isEnvLabelVisible"
              class="align-middle badge bg-info"
              [title]="envLabel">{{envLabel}}</span>
    </a>

    <!-- TODO: make 3 cols to center menu voices -->

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarSupportedContent">

        <ul class="navbar-nav mx-auto">

            <li class="nav-item">
                <a class="nav-link"
                   routerLink="./game"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">Game</a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   routerLink="./common/ui/tests"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">UI tests</a>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link"
                   routerLink="./matches/eCbS7eKs87o"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">Fake match</a>
            </li> -->

            <!-- <li class="nav-item">
                <a class="nav-link"
                   routerLink="./guide"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">Guide</a>
            </li> -->

            <!-- <li class="nav-item">
                <a class="nav-link"
                   routerLink="./matches/test"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{ exact: true }">Tests</a>
            </li> -->

        </ul>

        <ul class="navbar-nav ms-auto">

            <li class="nav-item">
                <button class="btn btn-outline nav-link active"
                        role="button">
                    <!-- <span>Sound FX</span>
                    <span>&nbsp;</span> -->
                    <!-- <span class="fas fa-volume-mute fa-fw"></span>
                    <span class="far fa-bell fa-fw"></span> -->
                    <fa-icon [icon]="['fas', 'bell-slash']"
                             [fixedWidth]="true"></fa-icon>
                </button>

                <!-- <a class="nav-link" role="button" href="javascript:void(0);" title="Sound FX disabled. Click to enable.">
                    <span class="fas fa-volume-mute 2x fa-fw"></span>
                </a> -->
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active"
                   href="javascript:void(0);"
                   id="navbarDropdownMenuLink"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <!-- TODO: add loading placeholder -->
                    <span *ngIf="this.isLanguageSelected$ | ngrxPush; else noSelectedLang">{{(this.selectedLanguage$ | ngrxPush | throwIfNil).nativeName}}</span>
                    <ng-template #noSelectedLang>
                        <span *ngIf="this.areLanguagesAvailable$ | ngrxPush">No languages</span>
                        <span *ngIf="this.areLanguagesAvailable$ | ngrxPush | throwIfNil | negate">Select a language</span>
                    </ng-template>
                </a>
                <ul class="dropdown-menu"
                    aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <button class="dropdown-item"
                                (click)="selectLanguage(language)"
                                *ngFor="let language of (this.languages$ | ngrxPush)">
                            <span>{{language.nativeName}}</span>
                        </button>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <button class="btn btn-outline nav-link active"
                        role="button"
                        (click)="showSystemInfo()">
                    <fa-icon [icon]="['fas', 'info']"
                             [fixedWidth]="true"></fa-icon>
                </button>
            </li>

        </ul>

    </div>

</nav>