<div class="row mx-n1">
    <div class="col-12 col-sm px-1">

        <div class="input-group mb-2">
            <input type="text"
                   [appIsEnabled]="this.canFilterCategories$ | ngrxPush"
                   class="form-control"
                   placeholder="Filter by name"
                   aria-label="Filter by name"
                   [(ngModel)]="fulltextSearchString">
            <div class="input-group-append">
                <!-- <button class="btn btn-outline-primary"
                        [appIsEnabled]="this.canFilterCategories$ | ngrxPush"
                        type="button">
                    <fa-icon [icon]="['fas', 'search']"
                             [fixedWidth]="true"></fa-icon>
                </button> -->
                <button class="btn btn-outline-danger"
                        [appIsEnabled]="this.canFilterCategories$ | ngrxPush"
                        type="button"
                        (click)="this.fulltextSearchString = ''">
                    <fa-icon [icon]="['fas', 'times']"
                             [fixedWidth]="true"></fa-icon>
                </button>
            </div>
        </div>
        <!-- <div class="row mb-2 mx-n1">
            <div class="col px-1">
                <input type="text"
                       [appIsEnabled]="this.canFilterCategories$ | ngrxPush"
                       class="form-control"
                       placeholder="Filter by name"
                       aria-label="Filter by name"
                       [(ngModel)]="fulltextSearchString">
            </div>
            <div class="col-auto px-1">
                <button class="btn btn-outline-danger"
                        [appIsEnabled]="this.canFilterCategories$ | ngrxPush"
                        type="button"
                        (click)="this.fulltextSearchString = ''">
                    <fa-icon [icon]="['fas', 'times']"
                             [fixedWidth]="true"></fa-icon>
                </button>
            </div>
        </div> -->

    </div>
    <div class="col-12 col-sm px-1">

        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <label class="input-group-text"
                       for="tagsFilterSelect">Tags</label>
            </div>
            <select class="custom-select"
                    [appIsEnabled]="this.canFilterCategories$ | ngrxPush"
                    placeholder="Filter by tag"
                    id="tagsFilterSelect">
                <option selected>All</option>
                <option>Science</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-danger"
                        [appIsEnabled]="this.canFilterCategories$ | ngrxPush"
                        type="button">
                    <fa-icon [icon]="['fas', 'times']"
                             [fixedWidth]="true"></fa-icon>
                </button>
            </div>
        </div>

    </div>
</div>

<div class="wrap-panel rounded-top p-1 overflow-auto"
     style="max-height: 300px;">

    <ng-template #categoriesLoaded>

        <ng-template #hasNoCategories>
            <label class="card-text border-transparent text-muted font-italic m-1 px-2 py-1">
                <span>No categories available</span>
            </label>
        </ng-template>

        <ng-template #hasCategories>
            <button *ngFor="let item of (this.filteredCategories$ | ngrxPush); let i = index;"
                    [appIsEnabled]="canChooseCategories$ | ngrxPush"
                    class="btn btn-primary m-1 px-2 py-1"
                    [class.active]="item.isSelected"
                    (click)="toggle(item)">
                <span>{{item.value.name}}</span>
            </button>
        </ng-template>

        <ng-container *ngIf="(this.areCategoriesAvailable$ | ngrxPush) as hasCategories; then hasCategories; else hasNoCategories;"></ng-container>

    </ng-template>

    <label *ngIf="(this.isLoading$ | ngrxPush) as areCategoriesLoaded; else categoriesLoaded;"
           class="card-text border-transparent text-muted font-italic m-1 px-2 py-1">
        <span>Loading ...</span>
    </label>

</div>

<div class="wrap-panel border-top-0 p-1"
     [class.d-none]="!selectedCategories || selectedCategories.length <= 0"
     [sortablejs]="selectedCategories"
     [sortablejsOptions]="selectedCategoriesOptions">
    <button *ngFor="let item of selectedCategories; let i = index; trackBy: getCategoryId;"
            [appIsDisabled]="isDisabled$ | ngrxPush"
            class="btn btn-outline-primary m-1 px-2 py-1"
            [class.active]="!!item.isSelected"
            (click)="remove(item)">
        <span>{{i + 1}}° </span>
        <span>{{item.value.name}}</span>
    </button>
</div>

<div class="card-footer form-control-border rounded-bottom border-top-0 py-1 px-2 align-content-center">
    <label class="align-middle m-0">
        <span *ngIf="!(selectedCategories$ | ngrxPush)">-</span>
        <span *ngIf="!!(selectedCategories$ | ngrxPush)">{{(selectedCategories$ | ngrxPush).length}} categories selected</span>
    </label>
</div>