<div class="row gx-2">

    <div class="col-12 col-sm">
        <div class="input-group mb-2 g-1">
            <input class="form-control"
                   type="text"
                   placeholder="Filter by name"
                   aria-label="Filter by name"
                   [disabled]="canFilterCategories$ | ngrxPush | throwIfNil | negate"
                   [(ngModel)]="fulltextSearchString">
            <button class="btn btn-outline-danger"
                    type="button"
                    [disabled]="canFilterCategories$ | ngrxPush | throwIfNil | negate"
                    (click)="fulltextSearchString = ''">
                <fa-icon [icon]="['fas', 'times']"
                         [fixedWidth]="true"></fa-icon>
            </button>
        </div>
    </div>

    <div class="col-12 col-sm">
        <div class="input-group mb-2">
            <label class="input-group-text"
                   for="tagsFilterSelect">Tags</label>
            <select id="tagsFilterSelect"
                    class="form-select"
                    placeholder="Filter by tag"
                    [disabled]="canFilterCategories$ | ngrxPush | log: 'AAA {0}' | throwIfNil: 'XXX {0}' | log: 'BBB {0}' | negate">
                <option selected>All</option>
                <option>Science</option>
            </select>
            <button class="btn btn-outline-danger"
                    type="button"
                    [disabled]="canFilterCategories$ | ngrxPush | throwIfNil | negate">
                <fa-icon [icon]="['fas', 'times']"
                         [fixedWidth]="true"></fa-icon>
                <!-- make fixed width app wide via config -->
            </button>
        </div>
    </div>

</div>

<div class="wrap-panel rounded-top p-1 overflow-auto"
     style="max-height: 300px;">

    <ng-template #categoriesLoaded>

        <ng-template #hasNoCategories>
            <label class="card-text border-transparent text-body-secondary font-italic m-1 px-2 py-1">
                <span>No categories available</span>
            </label>
        </ng-template>

        <ng-template #hasCategories>
            <button *ngFor="let item of (this.filteredCategories$ | ngrxPush); let i = index;"
                    class="btn btn-primary m-1 px-2 py-1"
                    [class.active]="item.isSelected"
                    [disabled]="canSelectCategories$ | ngrxPush | throwIfNil | negate"
                    (click)="toggle(item)">
                <span>{{item.item.name}}</span>
            </button>
        </ng-template>

        <ng-container *ngIf="(this.areCategoriesAvailable$ | ngrxPush); then hasCategories; else hasNoCategories;"></ng-container>

    </ng-template>

    <ng-template #areCategoriesLoading>
        <!-- <label class="card-text border-transparent text-body-secondary font-italic m-1 px-2 py-1">
            <span>Loading ...</span>
        </label> -->
        <button *ngFor="let p of loadingPlaceholders"
                class="btn btn-primary m-1 px-2 py-1 placeholder-wave disabled">
            <span class="invisible">{{p}}</span>
        </button>
    </ng-template>

    <ng-container *ngIf="(this.isLoading$ | ngrxPush); then areCategoriesLoading; else categoriesLoaded;"></ng-container>

</div>

<div class="wrap-panel border-top-0 p-1"
     [class.d-none]="!selectedCategories || selectedCategories.length <= 0">
    <button *ngFor="let item of selectedCategories; let i = index; trackBy: getCategoryId;"
            class="btn btn-outline-primary m-1 px-2 py-1 active"
            [disabled]="isEnabled$ | ngrxPush | throwIfNil | negate"
            (click)="remove(item)">
        <span>{{i + 1}}° </span>
        <span>{{item.name}}</span>
    </button>
</div>

<div class="card-footer form-control-border rounded-bottom border-top-0 py-2 px-3">
    <label class="align-middle">
        <span *ngIf="!(selectedCategories$ | ngrxPush)">-</span>
        <span *ngIf="selectedCategories$ | ngrxPush | isNotNil">{{(selectedCategories$ | ngrxPush | throwIfNil).length}} categories selected</span>
    </label>
</div>