<div class="row mx-n1">
    <div class="col-12 col-sm px-1">

        <div class="input-group mb-2">
            <input type="text"
                   [appIsDisabled]="isDisabled$ | async"
                   class="form-control"
                   placeholder="Filter by name"
                   aria-label="Filter by name">
            <div class="input-group-append">
                <button class="btn btn-outline-primary"
                        [appIsDisabled]="isDisabled$ | async"
                        type="button">
                    <!-- <span class="fas fa-search fa-fw"></span> -->
                    <fa-icon [icon]="['fas', 'search']"
                             [fixedWidth]="true"></fa-icon>
                </button>
                <button class="btn btn-outline-danger"
                        [appIsDisabled]="isDisabled$ | async"
                        type="button">
                    <!-- <span class="fas fa-times fa-fw"></span> -->
                    <fa-icon [icon]="['fas', 'times']"
                             [fixedWidth]="true"></fa-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm px-1">

        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <label class="input-group-text"
                       for="tagsFilterSelect">Tags</label>
            </div>
            <select class="custom-select"
                    [appIsDisabled]="isDisabled$ | async"
                    placeholder="Filter by tag"
                    id="tagsFilterSelect">
                <option selected>All</option>
                <option>Science</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-danger"
                        [appIsDisabled]="isDisabled$ | async"
                        type="button">
                    <!-- <span class="fas fa-times fa-fw"></span> -->
                    <fa-icon [icon]="['fas', 'times']"
                             [fixedWidth]="true"></fa-icon>
                </button>
            </div>
        </div>

    </div>
</div>

<!-- <div>
    <button (click)="subscribeLang()">subscribe to lang</button>
    <p>{{test$ | async | json}}</p>
</div> -->

<div class="wrap-panel rounded-top p-1 overflow-auto"
     style="max-height: 300px;">

    <ng-container *ngIf="(areCategoriesLoaded$ | async) as areCategoriesLoaded; then categoriesLoaded; else categoriesLoading;"></ng-container>

    <ng-template #categoriesLoaded>
        <ng-container *ngIf="(hasCategories$ | async) as hasCategories; then hasCategories; else hasNoCategories;"></ng-container>

        <ng-template #hasCategories>
            <!-- <label *ngFor="let item of categories; let i = index;" class="card-text token clickable m-1 px-1">
                <span>{{item.value.name}}</span>
                <span>&nbsp;</span>
                <span class="text-muted">[{{getUnicodeFlag(item.value.language)}}]</span>
            </label> -->

            <button *ngFor="let item of (categories$ | async); let i = index;"
                    [appIsDisabled]="isDisabled$ | async"
                    class="btn btn-primary m-1 px-2 py-1"
                    [class.active]="item.isSelected"
                    (click)="toggle(item)">
                <!-- <span> -->
                <span>{{item.value.name}}</span>
                <!-- <br>
                    <small class="font-weight-lighter text-muted small">{{getTagsInfo(item.value.tags)}}</small> -->
                <!-- </span> -->
            </button>

        </ng-template>

        <ng-template #hasNoCategories>
            <label class="card-text border-transparent text-muted font-italic m-1 px-2 py-1">
                <span>No categories available</span>
            </label>
        </ng-template>

    </ng-template>

    <ng-template #categoriesLoading>
        <label class="card-text border-transparent text-muted font-italic m-1 px-2 py-1">
            <span>Loading ...</span>
        </label>
    </ng-template>

</div>
<div class="wrap-panel border-top-0 p-1"
     [class.d-none]="!selectedCategories || selectedCategories.length <= 0"
     [sortablejs]="selectedCategories"
     [sortablejsOptions]="selectedCategoriesOptions">

    <!-- <span class="text-muted mx-1 font-italic" *ngIf="!selectedCategories || selectedCategories.length <= 0">Click or drop here categories to select them</span>

        <label *ngFor="let item of selectedCategories; let i = index;" class="card-text token grabbable px-1 m-1">
            <span>{{i + 1}}°</span>
            <span> - </span>
            <span>{{item.value.name}}</span>
            <span class="fas fa-times clickable ml-2 mr-1 text-black-50"></span>
        </label> -->

    <!-- <label *ngIf="!selectedCategories || selectedCategories.length <= 0" class="text-muted font-italic m-1 px-2 py-1 form-control-border rounded w-100" style="border-style: dashed;">
        <span>Click categories to select them</span>
    </label> -->

    <button *ngFor="let item of selectedCategories; let i = index; trackBy: getCategoryId;"
            [appIsDisabled]="isDisabled$ | async"
            class="btn btn-outline-primary m-1 px-2 py-1"
            [class.active]="!!item.isSelected"
            (click)="remove(item)">
        <span>{{i + 1}}° </span>
        <span>{{item.value.name}}</span>
    </button>

    <!-- <p>
        <span *ngFor="let item of selectedCategories; let i = index; trackBy: getCategoryId;">[{{item.value.id | json}}]</span>
    </p> -->

</div>
<div class="card-footer form-control-border rounded-bottom border-top-0 py-1 px-2 align-content-center">
    <!-- <button type="button" class="btn btn-link">Clear</button> -->
    <label class="align-middle m-0">
        <span *ngIf="!(selectedCategories$ | async)">-</span>
        <span *ngIf="!!(selectedCategories$ | async)">{{(selectedCategories$ | async).length}} categories selected</span>
        <!-- <span>{{selectedCats?.length || 0}} categories selected</span> -->
    </label>
</div>

<!-- <p>{{selectedCategories | json}}</p> -->